body , html {
    margin: 0;
}

.wrap {

    height: 800px;
    background: pink;
    margin: 0;
}
.box{
    width: 200px;
    height: 200px;
    background: green;
}
h2{
    margin: 0;
}
.wrap {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}