body {
    margin: 0;
}

.wrap {

    height: 700px;
    background: pink;
    margin: 0;
}
.box{
    width: 200px;
    height: 100px;
    background: green;
    margin-right: calc(16.6% - 100px) ;
    margin-left: calc(16.6% - 100px) ;
}
h2{
    margin: 0;
}
.wrap {
    display: flex;

    flex-wrap: wrap;
}
