body, html {
    width: 100%;
    height: 1000px;
    font-size: 30px;
}

.cotainer {
    width: 100%;
    height: 1000px;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 200px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.header > div:nth-child(1) {
    width: 20%;
    height: 100%;
    background: #b1afaf;
}

.header > div:nth-child(2) {
    width: 75%;
    height: 100%;
    background: #d28c8c;

}

.global-wrap {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.nav3 {
    width: 20%;
    height: 300px;
    background: yellow;
    /*position: relative;*/
}

.global-wrap_right {
    width: 75%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pryvud1 {
    width: 20%;
    height: 80px;
    background: #89ef44;
    position: absolute;
    left: 0;
    bottom: 100px;
}

.pryvud2 {
    width: 20%;
    height: 80px;
    background: #89ef44;
    position: absolute;
    bottom: 10px;
    left: 0;
}

.right-top {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
}

.right-top > div:nth-child(1) {
    width: 75%;
    height: 100%;
    background: #7edbdb;
}

.right-top > div:nth-child(2) {
    width: 20%;
    height: 100%;
    background: #7edbdb;
}

.right-bott {
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: space-between;
}

.right-bott > div:nth-child(1) {
    width: 75%;
    height: 100%;
    background: #015858;
}

.right-bott > div:nth-child(2) {
    width: 20%;
    height: 100%;
    background: #015858;
}


.footer {
    width: 100%;
    height: 300px;
    background: #3f8c8c;
    margin-top: 5px;
}