body{
    margin: 0;
    display: flex;
    justify-content: center;
}
.conteiner{
    width: 700px;
    height: 420px;
    background: #3f8c8c;

    display: flex;
}

.cont{
    width: 45%;
    height: 130px;

    display: flex;
    box-sizing: border-box;

}